{% extends "shopping_list/base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Auto-shopping</h1>
    <p>Whenever the main shopping list's 'Refill' button is pressed, 
        it will immediately be filled with everything on this list. 
        So you can use it for everything you want to check before you go shopping!</p>

    {% crispy form %}
    <hr>
    {% if ingredient_list %}
        {% include "shopping_list/ingredient_list.html" with remove_item_url=recipe.get_remove_url %}
    {% else %}
        <h2>Auto-shopping list is empty!</h2>
        <hr>
    {% endif %}
    <br>
{% endblock %}

{% block javascript %}
{{ form.media }}
{% endblock %}