{% extends "base_generic.html" %}

{% block header %}
    {% block title %}<title>Shopping List</title>{% endblock %}
{% endblock %}

{% block body %}
<div class="row">

    {% if user.is_authenticated %}

    <div class="col-sm-auto">
        {% block sidebar %}
            <small>Logged in as {{ user.get_username }}.</small></p>
            <ul class="sidebar-nav">
                <li><a href="{% url 'index' %}">Shopping</a></li>
                <li><a href="{% url 'auto' %}">Auto-shopping</a></li>
                <li><a href="{% url 'recipes' %}">Recipes</a></li>
                <li><a href="{% url 'products' %}">Products</a></li>
                <li><a href="{% url 'users' %}">Users</a></li>
                <li><a href="{% url 'logout' %}">Log out</a></li>
            </ul>
        {% endblock %}
    </div>

    <div class="col">
        {% block pagination %}
          {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}"><</a>
                    {% else %}
                    <
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">></a>
                    {% else %}
                    >
                    {% endif %}
                </span>
            </div>
          {% endif %}
        {% endblock %}

        {% block messagesblock %}
            {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                        {% if 'safe' in message.tags %}
                            {{ message|safe }}
                        {% else %}
                            {{ message }}
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    </div>

    {% else %}
    {# For unauthenticated users #}
    <h2>You must be logged in to view this. <a href="{% url 'login' %}?next={{request.path}}">Click here to log in.</a></h2>
    {% endif %}
</div>
{% endblock %}
