{% extends "shopping_list/base_generic.html" %}
{% load crispy_forms_tags %}

{% block title %}
<title>Products</title>
{{ form.media.css }}
{% endblock %}

{% block content %}
<h2>Add a new Product</h2>
{% crispy form %}
<hr>
<h1>Product List</h1>
{% if product_list %}
{% regroup product_list by category.name as product_list_by_category %}
{% for category in product_list_by_category %}
<h2>{{ category.grouper }}</h2>
<ul>
  {% for product in category.list %}
    <li><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></li>
  {% endfor %}
</ul>
{% endfor %}
{% else %}
<h2 class="text-danger">No products registered!</h2>
{% endif %}

{% endblock %}

{% block javascript %}
{{ form.media.js }}
{% endblock %}