{% extends "shopping_list/base_generic.html" %}

{% block content %}
  <h1>{{ product.name }}</h1>
  <br>
  <form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Amend">
  </form>

  <hr>

  {% if product.copies_on_shopping_list %}
  <h2>Currently on the shopping list:</h2>
  <ul>
      {% for ingredient in product.copies_on_shopping_list %}
      <li>{{ ingredient }}</li>
      {% endfor %}
  </ul>
  {% else %}
  <h2>Not on the shopping list.</h2>
  {% endif %}
  <hr>

  {% if product.number_of_relevant_recipes %}
  <h2>Used in {{ product.number_of_relevant_recipes }} recipe {{ product.number_of_dsrelevant_recipes | pluralize:",s" }}:</h2>
  <ul>
      {% for recipe in product.relevant_recipes %}
      <li><a href="{{ recipe.get_absolute_url }}">{{ recipe.name }}</a></li>
      {% endfor %}
  </ul>
  {% else %}
  <h2>Not used in any recipes.</h2>
  {% endif %}

  <hr>

  <form method="post">
    {% csrf_token %}
    <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete {{ product.name }}?')">
  </form>
{% endblock %}