{% extends "shopping_list/base_generic.html" %}
{% load crispy_forms_tags %}

{% block title %}
<title>Recipes</title>
{% endblock %}

{% block content %}

<h2>Add a new recipe</h2>
{% crispy form %}
<hr>
<h1>Recipe List</h1>
<ul>
  {% for recipe in recipe_list %}
    <li>
      <a href="{{ recipe.get_absolute_url }}">{{ recipe.name }}</a>
    </li>
  {% empty %}
    <li>There are no recipes available.</li>
  {% endfor %}
</ul>
{% endblock %}

{% block javascript %}
{{ form.media }}
{% endblock %}